@model Ejer2.Models.Entities.clsPersona

@{
    ViewData["Title"] = "Página de inicio";
}

<h1>@ViewData["Saludo"]</h1>

<p><strong>Fecha actual:</strong> @ViewBag.FechaActual</p>

<h2>Datos personales</h2>
<ul>
    <li><strong>Nombre:</strong> @Model.Nombre</li>
    <li><strong>Apellidos:</strong> @Model.Apellidos</li>
    <li><strong>Edad:</strong> @Model.Edad años</li>
</ul>

<br />

<a asp-controller="Home" asp-action="listadoPersonas">Ver listado de personas</a>
<br />
<a asp-controller="Home" asp-action="personaPosicion3">Ver persona en posición 3</a>
<br />
<a asp-controller="Home" asp-action="EditarPersona">Editar persona aleatoria</a>
